/* common.css */
.post-list {
    width: 1000px;
    margin: auto;
}

.post-detail {
    width: 1000px;
    margin: auto;
    text-align: left;
}

.post-contents {
    padding: 12px 8px;
    border-bottom: 1px solid #eee;
}

.common-buttons {
    padding: 8px;
    text-align: right;
}
.post-write {
    width: 768px;
    margin: auto;
}